.row(ng-hide='status=="warning"')
  a.btn.btn-primary.col-md-4.col-sm-4.col-xs-4(
    ng-class='{"active": chapter=="game"}',
    ng-click='setChapter("game")') Game
  a.btn.btn-primary.col-md-4.col-sm-4.col-xs-4(
    ng-class='{"active": chapter=="activity"}',
    ng-click='setChapter("activity")') Activity
  a.btn.btn-primary.col-md-4.col-sm-4.col-xs-4(
    ng-class='{"active": chapter=="scores"}',
    ng-click='setChapter("scores")') Scores
