form.form-horizontal.ng-cloak(name="modelForm")
  fieldset
    .form-group
      label.col-md-2.control-label Name
      .col-md-10
        input.form-control(required='required',
          type='text', ng-model='$parent.edit.name')
    .form-group
      label.col-md-2.control-label Code
      .col-md-10
        input.form-control(required='required',
          type='string', ng-model='$parent.edit.code')
    .form-group
      label.col-md-2.control-label Price
      .col-md-10
        input.form-control(required='required',
          type='number', ng-model='$parent.edit.price')
    .form-group
      label.col-md-2.control-label Sizes
      .col-md-10
        a.btn.col-md-1(ng-click='toggle(s, "t")',
          ng-class='{"btn-default": !s.t, "btn-primary": s.t}',
          ng-repeat='s in commons.sizes')
          span.bage.bage-primary(ng-bind='s.v')
    .form-group
      label.col-md-2.control-label Image
      .col-md-10
        input.form-control(required='required',
          type='url', ng-model='$parent.edit.image')
    .form-group(ng-show="$parent.edit.image")
      .col-md-2
      .col-md-6
        img.product.form-control(ng-src='{{$parent.edit.image}}')
    .form-group
      label.col-md-2.control-label Comments
      .col-md-10
        input.form-control(required='required',
          type='string', ng-model='$parent.edit.comments')
    include actions
